.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  font: var(--font-m);
  color: var(--secondary-color);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}

.error {
  .title {
    font: var(--font-l);
    color: var(--error-light);
  }

  .text {
    font: var(--font-m);
    color: var(--error-dark);
  }
}
