.Button {
  cursor: pointer;
}

@mixin without-border {
  border: none;
  outline: none;
  margin: 0;
}

.clear {
  @include without-border;

  padding: 0;
  margin: 0;
  background: transparent;
}

.filled {
  @include without-border();

  background: var(--bg-color);
  border-radius: 16px;
}
