.Button {
  cursor: pointer;
  padding: 10px 15px;
}

@mixin clear-button {
  border: none;
  outline: none;
  margin: 0;
}

.clear,
.clearInverted {
  @include clear-button;

  padding: 0;
  color: var(--primary-color);
  background: transparent;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.filled,
.filled-inverted {
  @include clear-button;

  background-color: var(--bg-color);
  color: var(--primary-color);
  border-radius: 16px;
}

.filled-inverted {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.outlined {
  @include clear-button;

  border-radius: 16px;
  border: 1px solid var(--primary-color);
}
