.Sidebar {
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  width: var(--sidebar-width);
  position: relative;
  transition: width 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    width: var(--sidebar-collapsed-width);
  }
}

@mixin collapse-menu-item {
  flex-direction: column;
  gap: 2px;
}

@mixin collapse-menu-item-text {
  font-size: var(--font-size-m);
}

.menu {
  padding: 0 20px;

  &Item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      @include collapse-menu-item;
    }

    &Icon {
      display: inline-block;
      width: 30px;
    }

    &Text {
      color: var(--inverted-primary-color);
      transition: all 0.5s ease-in-out;
      font-size: var(--font-size-l);
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      font-weight: 600;

      @media screen and (max-width: 768px) {
        @include collapse-menu-item-text;
      }
    }
  }
}

.switchers {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;

  &_vertical {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hiddenOnTablet {
    display: none !important;
  }
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  .menu {
    padding: 0;

    .menuItem {
      @include collapse-menu-item;

      &Text {
        @include collapse-menu-item-text;
      }
    }
  }
}
