.InputContainer {
  position: relative;
}

.readonly {
  display: inline-block;

  input {
    background-color: var(--bg-color);
    color: var(--inverted-bg-color);
  }
}

.inputLabel {
  font-size: 15px;
  margin-bottom: 8px;
  display: inline-block;
}

.showPasswordBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  line-height: 0;
}

.input {
  border-radius: 15px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 15px;
}

.password {
  padding-right: 40px;
}

.fullWidth {
  width: 100%;
}
