body.dark_theme {
  --bg-color: #383838;
  --inverted-bg-color: #f1f1f1;
  --primary-color: #959595;
  --secondary-color: #fff;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #a594a5;

  // Skeleton
  --skeleton-bg: #5a5a5a;

  // article code block
  --code-bg: #282c33;
  --code-color: #e06b74;

  // card
  --card-bg: #bebebe;
}
