body.light_theme {
  --bg-color: #f1f1f1;
  --inverted-bg-color: #383838;
  --primary-color: #000;
  --secondary-color: #a594a5;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #959595;

  // Skeleton
  --skeleton-bg: #504f4f;
}
