body.light_theme {
  --bg-color: #f1f1f1;
  --inverted-bg-color: #383838;
  --primary-color: #000;
  --secondary-color: #3f333f;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #959595;

  // Skeleton
  --skeleton-bg: #504f4f;

  // article code block
  --code-bg: #282c33;
  --code-color: #e5c07a;
}
