@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";

body {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.app {
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.inverted-icon {
  fill: var(--inverted-primary-color);
}

.icon {
  fill: var(--primary-color);
}

.secondary-icon {
  fill: var(--secondary-color);
}

* {
  /* Для Firefox */
  scrollbar-color: #f5f5f5 #000;
}

*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-bg-color); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 1px solid; /* creates padding around scroll thumb */
}
