@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";

body {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.app {
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  // Нужно в совершенстве понимать как расположить элементы на странице и сделать любое расположение элементов.
  padding: 20px;
  width: 100%;
}

.icon {
  fill: var(--inverted-primary-color);
}

h2 {
  color: var(--primary-color-gold);
}
