@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1; // 👈 It's is awesome!
  // Нужно в совершенстве понимать как расположить элементы на странице и сделать любое расположение элементов.
  padding: 20px;
}

h2 {
  color: var(--primary-color-gold);
}
