.NotFoundPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.title {
  margin-bottom: 20px;
}

.notFoundImg {
  transition: all 0.5s ease-in-out;

  max-width: 100%;
  height: auto;
}
