.DetailedArticle {
  height: 100%;
  padding: 0 24px;

  .stats {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }

  .avatarWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .text,
  .code {
    margin-bottom: 16px;
  }
}
