.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  margin-bottom: 24px;
}

.editBtn {
  margin-left: auto;
}

.input {
  margin-bottom: 16px;
}
