.input,
.select {
  margin-bottom: 16px;
}

.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  width: 100%;

  &.readonly {
    .input {
      margin-bottom: 0;
    }
  }
}
